:root {
  --gray-800: oklch(20.55% 0.005 800); // oklch(0.28 0 0)
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: var(--gray-800);
  overflow: hidden;


  ::-webkit-scrollbar {
    display: none;
  }
}
